* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ← ¡ESENCIAL! */
}

.header-tec{
    width: 100%;
    display: flex;
    background-color: #ffffff;
    padding: 14px 22px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb; /* Línea sutil inferior */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Sombra muy leve */
}

.logo-institucion {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #1a237e; /* Azul TecNM */
    font-weight: 500;
    margin-left: 50px;
}

.logo-institucion img{
    height: 58px;
    width: auto;

}

.logo-institucion span {
    line-height: 1.3;
    font-size: 20px;
}

.logo-institucion small {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    display: block;
}

.logomx{
    height: 58px;
    width: auto;
}


user-section


.navbar {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    align-items: end;
    margin-right: 220px;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    padding: 12px 24px;
    font-size: 18px;
    display: inline-block;
    font-weight: 100;
}



.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1);

}
